[project]
	description = A simple Bash tool to watch for LESS file changes to compile those files to CSS using inotifywait.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cpetrov
[access "refs/for/refs/*"]
	read = group user/cpetrov
	push = group user/cpetrov
	label-Code-Review = -2..+2 group user/cpetrov
	label-Verified = -1..+1 group user/cpetrov
	rebase = group user/cpetrov
	removeReviewer = group user/cpetrov
	submit = group user/cpetrov
[access "refs/heads/*"]
	read = group user/cpetrov
	create = group user/cpetrov
	push = +force group user/cpetrov
	pushMerge = group user/cpetrov
[access "refs/tags/*"]
	push = +force group user/cpetrov
	pushTag = group user/cpetrov
	pushSignedTag = group user/cpetrov
